:root {
    --blue-1: #003480;
    --blue-2: #005bbc;
    --blue-3: #006ad8;
    --blue-4: #4285f3;
    --bg-color: #E7ECF0;
    --text-color-1: black;
    --text-color-2: white;
    --black-1: #262639;
    --black-2: #4D4D5D;
    --gradient-color: linear-gradient(to right, #004aad, #005bbc, #006ad8, #2d8cef);
    --nav-bar-width: 80px;
    --on-processing: #ffde59;
    --not-done: #e94335;
}

p {
    margin-bottom: 0;
}
.address {
    font-size: 1rem;
    margin-top: .3rem;
}

.tab ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;

}

.tab ul li {
    margin-left: 2rem;
    background-color: var(--blue-3);
    border-radius: 15px;
    padding: .5rem 2rem .5rem 2rem;

}

.tab ul li a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;

}

.body-content .tab ul li.overviewActive {
    background-color: var(--blue-1);
}

.body-content .tab ul li.taskTrackingActive {
    background-color: var(--blue-1);
}


.body-content .tab ul li.HRMapActive {
    background-color: var(--blue-1);
}

.body-content .tab ul li.checklistActive {
    background-color: var(--blue-1);
}

.body-content .tab ul li a i {
    font-size: 2rem;
}

.tab ul li:hover {
    background-color: var(--blue-1);
    transition: all .3s ease;
}

/*-----------------------LIST EVENT----------------------------*/


  
.list-event-container {
    background-color: white;
    font-size: 1rem;
    margin: 1rem;
    width: calc(100% - 20px);
    height: 83vh;
}

.list-event-container .header-container {
    display: flex;
    align-items: center;
}


.list-event-container .header-container .create-event a i {
    background-color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 50%;
    border: solid .3px rgb(190, 190, 190);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list-event-container .header-container .create-event a i:hover {
    background-color: var(--blue-2);
    color: white;
    transition: all .3s ease;
}


.list-event-container .table-container {
    overflow: auto;
    width: 100%;
}

.list-event-container table {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.table-container table thead tr th,
.table-container table thead tr td {
    border: 1px solid #ddd;
}

.list-event-container table #title-row {
    border-bottom: 2px solid #cad6d8;
    background-color: #f5f5f5;
    color: #578ebe;

}

.list-event-container table #title-row th {
    color: #1da1f2;
    font-weight: 600;
}



.list-event-container table th {
    font-weight: 400;
    padding: 1rem;

}

.list-event-container .create-event-wrapper {
    width: 35%;
    opacity: 0;
    background-color: var(--bg-color-2);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    left: 13%;
    top: 21%;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -10;
}

.list-event-container .create-event-wrapper form {
    height: 100%;
    width: 100%;

}

.list-event-container .create-event-wrapper form input,
.list-event-container .create-event-wrapper textarea {
    width: 94%;
    border: 1px;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

.list-event-container .create-event-wrapper .create-event-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.list-event-container .create-event-wrapper .create-event-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-1);
    color: white;
    width: 6rem;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.list-event-container .create-event-wrapper .create-event-btn div button {
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    color: white;

}

.list-event-container .create-event-wrapper .create-event-btn div:hover {
    background-color: var(--blue-2);
    cursor: auto;
    transition: all .3s ease;
}

.create-event-wrapper.createEventActive {
    width: 35%;
    opacity: 1;

}

.eventBtn {
    height: 60px;
}

.eventBtn i {
    text-decoration: none;
    font-size: 25px;
}

/*-JS-*/
.event-status {
    background-color: var(--on-processing);
    border-radius: 15px;
    padding: 1rem 2rem;

}

.eventBtn .bx {
    color: black;
}

.bxs-report:hover {
    color: orange;
    transition: all .2s ease;
}

.bx-x:hover {
    color: red;
    transition: all .2s ease;
}

.bxs-edit-alt:hover {
    color: green;
    transition: all .2s ease;
}

html {
    font-size: 15px;
}


/*---------------------------------EVENT - OVERVIEW--------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.taskCard {
    margin-bottom: 10px;
}

.overview-container {
    display: flex;
    background-color: white;
    font-size: 1.7rem;
    margin: 1rem;
    width: calc(100% - 20px);
    height: 76vh;
}

/*Overview left*/

.overview-left {
    padding: 1rem;
    width: 60%;
}

.overview-left .title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.overview-left .title .detail-title {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

}

.overview-left img {
    width: 5rem;
}

.overview-left .process {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.overview-left .process p {
    font-size: 1rem;
}

.overview-left .process .process-bar {
    border-style: solid;
    border-color: var(--blue-2);
    width: 85%;
    height: 2rem;
    margin-left: 1.5rem;
    border-radius: 20px;
    padding: .2rem;
    background-color: var(--gradient-color);
}

.overview-left .process .process-bar .proces-bar-inner {
    background: var(--gradient-color);
    width: 60%;
    height: 100%;
    border-radius: 20px;
}

.overview-left .process .percentage {
    width: 60%;
}

.overview-left  .percentage {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.overview-left .percentage p {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 55px;
}

.overview-left .overview-title {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    background: var(--gradient-color);
    color: white;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
    font-weight: 600;
}

.overview-left .date {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.overview-left .date .detail {
    min-width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    border: 2px solid var(--blue-2);
    border-radius: 18px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.overview-left .location {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.overview-left .location .detail {
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    border: 2px solid var(--blue-2);
    border-radius: 18px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.overview-left .host {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.overview-left .host .detail {
    min-width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    border: 2px solid var(--blue-2);
    border-radius: 18px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


/*Overview right*/

.overview-right {
    background-color: var(--bg-color);
    margin: 2rem;
    padding: 2rem;
    width: 40%;
}

.taskCard {
    background-color: white;
    padding: 10px;
}

.taskCard-title {
    background-color: var(--on-processing);
    width: 130px;
    padding: 5px 10px;
    border-radius: 13px ;
    font-size: 1rem;
}
.taskCard-text {
    font-size: 1.5rem;
}

.taskCard-deadline {
    font-size: 1rem;
    font-weight: 600;
}

.taskCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .5s ease;
}
/*---------------------------------EVENT - TASKTRAKING--------------------------------------*/
/*--------------------------------------------------------------------------------------*/



/*-----------*/
.task-tracking-container {
    background-color: white;
    font-size: 1.7rem;
    margin: 1rem;
    width: calc(100% - 20px);
    height: 70vh;
    padding: 2rem;
}

#block__taskTrackingHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.logo-title {
    display: flex;
}

.logo-title #eventName {
    font-size: 1.5rem;
}

.logo-title img {
    width: 5rem;
    margin-right: 2rem;
}
#block__taskTrackingHeader label {
    font-size: 1rem;
}

.date-elemet input {
    border: 1px solid #ebebeb;
    padding: .5rem 1rem;
    border-radius: 12px;
    font-size: 1rem;
    
}

.date-container {
    text-align: right;
}


/*---------------------------------EVENT - HR Map--------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.hr-map-container {
    background-color: white;
    font-size: 1rem;
    margin: 1rem;
    width: calc(100% - 20px);
    height: 70vh;
}

.hr-map-container .header-container {
    display: flex;
    align-items: center;
}


.hr-map-container .header-container .create-hr-map a i {
    background-color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 50%;
    border: solid .3px rgb(190, 190, 190);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hr-map-container .header-container .create-hr-map a i:hover {
    background-color: var(--blue-2);
    color: white;
    transition: all .3s ease;
}


.hr-map-container .table-container {
    overflow: auto;
    width: 100%;
}

.hr-map-container table {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.table-container table thead tr th,
.table-container table thead tr td {
    border: 1px solid #ddd;
    font-size: 1rem;
}

.hr-map-container table #title-row {
    border-bottom: 2px solid #cad6d8;
    background-color: #f5f5f5;
    color: #578ebe;

}

.hr-map-container table #title-row th {
    color: #1da1f2;
    font-weight: 600;
}



.hr-map-container table th {
    font-weight: 400;
    padding: 1rem;

}

.hr-map-container .create-hr-map-wrapper {
    width: 35%;
    opacity: 0;
    background-color: var(--bg-color-2);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    left: 12%;
    top: 20%;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -2;
}

.hr-map-container .create-hr-map-wrapper form {
    height: 100%;
    width: 100%;
}

.hr-map-container .create-hr-map-wrapper input,
.hr-map-container .create-hr-map-wrapper textarea,
.hr-map-container .create-hr-map-wrapper select {
    width: 94%;
    border: 1px;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

.hr-map-container .create-hr-map-wrapper .create-hr-map-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.hr-map-container .create-hr-map-wrapper .create-hr-map-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-1);
    color: white;
    width: 6rem;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.hr-map-container .create-hr-map-wrapper  .create-hr-map-btn div button {
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    color: white;

}

.hr-map-container .create-hr-map-wrapper .create-hr-map-btn div:hover {
    background-color: var(--blue-2);
    cursor: auto;
    transition: all .3s ease;
}

.create-hr-map-wrapper.createHRMapActive {
    width: 35%;
    opacity: 1;
    z-index: 100;

}

.HRMapBtn {
    height: 60px;
}

.HRMapBtn i {
    text-decoration: none;
    font-size: 25px;
}

/*-JS-*/
.hr-map-status {
    background-color: var(--on-processing);
    border-radius: 15px;
    padding: 1rem 2rem;

}

.HRMapBtn .bx {
    color: black;
}


.bx-x:hover {
    color: red;
    transition: all .2s ease;
}

.bxs-edit-alt:hover {
    color: green;
    transition: all .2s ease;
}
/*---------------------------------EVENT - Equipment Checklist---------------------------*/
/*--------------------------------------------------------------------------------------*/
.checklist-container {
    background-color: white;
    font-size: 1rem;
    margin: 1rem;
    width: calc(100% - 20px);
    height: 70vh;
}

.checklist-container .header-container {
    display: flex;
    align-items: center;
}


.checklist-container .header-container .create-checklist a i {
    background-color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 50%;
    border: solid .3px rgb(190, 190, 190);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checklist-container .header-container .create-checklist a i:hover {
    background-color: var(--blue-2);
    color: white;
    transition: all .3s ease;
}


.checklist-container .table-container {
    overflow: auto;
    width: 100%;
}

.checklist-container table {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.table-container table thead tr th,
.table-container table thead tr td {
    border: 1px solid #ddd;
    font-size: 1rem;
}

.checklist-container table #title-row {
    border-bottom: 2px solid #cad6d8;
    background-color: #f5f5f5;
    color: #578ebe;

}

.checklist-container table #title-row th {
    color: #1da1f2;
    font-weight: 600;
}



.checklist-container table th {
    font-weight: 400;
    padding: 1rem;

}

.checklist-container .create-checklist-wrapper {
    width: 35%;
    opacity: 0;
    background-color: var(--bg-color-2);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    left: 13%;
    top: 25%;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checklist-container .create-checklist-wrapper form {
    height: 100%;
    width: 100%;
}

.checklist-container .create-checklist-wrapper input,
.checklist-container .create-checklist-wrapper textarea,
.checklist-container .create-checklist-wrapper select {
    width: 94%;
    border: 1px;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

.checklist-container .create-checklist-wrapper .create-checklist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.checklist-container .create-checklist-wrapper .create-checklist-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-1);
    color: white;
    width: 6rem;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.checklist-container .create-checklist-wrapper  .create-checklist-btn div button {
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    color: white;

}

.checklist-container .create-checklist-wrapper  .create-checklist-btn div:hover {
    background-color: var(--blue-2);
    cursor: auto;
    transition: all .3s ease;
}

.create-checklist-wrapper.createChecklistActive {
    width: 35%;
    opacity: 1;

}

.checkListBtn {
    height: 60px;
}

.checklistBtn i {
    text-decoration: none;
    font-size: 25px;
}

/*-JS-*/
.checklist-status {
    background-color: var(--on-processing);
    border-radius: 15px;
    padding: 1rem 2rem;

}

.checklistBtn .bx {
    color: black;
}


.bx-x:hover {
    color: red;
    transition: all .2s ease;
}

.bxs-edit-alt:hover {
    color: green;
    transition: all .2s ease;
}